@media screen and (max-width: 799px) {
  * {
    padding: 0;
    margin: 0;
  }
  Main {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100vh;
    width: 100vw;
    background-image: radial-gradient(#1f3756, #141539);
    background-repeat: no-repeat;
  }
  Main #titleScoreContainer {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 12%;
    width: 80%;
    border: 3px #606e85 solid;
    border-radius: 5px;
  }
  Main #titleScoreContainer #titleContainer {
    position: relative;
    height: 80%;
    width: 40%;
  }
  Main #titleScoreContainer #ScoreContainer {
    border: 2px white solid;
    border-radius: 5px;
    background-color: white;
    margin-right: 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 80%;
    width: 30%;
  }
  Main #titleScoreContainer #ScoreContainer #Scoretilte {
    font-weight: 600;
    font-family: "Barlow Semi Condensed", sans-serif;
    text-align: center;
    height: 20%;
    width: 98%;
    color: #2a46c0;
    font-size: 24px;
  }
  Main #titleScoreContainer #ScoreContainer #ScoreCounter {
    font-weight: 600;
    font-family: "Barlow Semi Condensed", sans-serif;
    text-align: center;
    height: 60%;
    width: 98%;
    color: #606e85;
    font-size: 3rem;
  }
  Main #ChoicesContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    position: relative;
    height: 40%;
    width: 100%;
  }
  Main #ChoicesContainer #ChoiceBackGround {
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
  }
  Main #ChoicesContainer #choicesHolder {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 1;
    height: 100%;
    width: 100%;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
  }
  Main #ChoicesContainer .choice {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 50%;
    height: 100%;
    width: 40%;
    border: 1px solid grey;
  }
  Main #ChoicesContainer .choiceBackground {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 50%;
    background-color: aliceblue;
    height: 80%;
    width: 80%;
  }
  Main #ChoicesContainer #paper {
    -webkit-box-shadow: -5px, 5px grey;
            box-shadow: -5px, 5px grey;
    background-image: radial-gradient(#4865f4, #5671f5);
  }
  Main #ChoicesContainer #scissors {
    -webkit-box-shadow: -5px, 5px grey;
            box-shadow: -5px, 5px grey;
    background-image: radial-gradient(#ec9e0e, #eca922);
  }
  Main #ChoicesContainer #rock {
    -webkit-box-shadow: -5px, 5px grey;
            box-shadow: -5px, 5px grey;
    background-image: radial-gradient(#dc2e4e, #dd405d);
  }
  Main #ChoicesContainer #TopChoice {
    height: 40%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  Main #ChoicesContainer #bottomChoice {
    height: 40%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  Main #rulesHolder {
    width: 90%;
    height: 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  Main #rulesHolder #rules {
    height: 100%;
    width: 25%;
    border: 3px #606e85 solid;
    color: #3b4363;
    text-align: center;
    font-size: 2rem;
    border-radius: 10px;
  }
  Main #overlay {
    position: fixed;
    display: none;
    z-index: 8;
    background-color: rgba(0, 0, 0, 0.463);
    height: 100%;
    width: 100%;
    pointer-events: all;
  }
  Main #rulesModal {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: 9;
    background-color: aliceblue;
    border-radius: 12px;
  }
  Main #rulesModal #closeRulesBtnHolder {
    margin-top: 10%;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 80%;
    width: 90%;
  }
  Main #rulesModal #closeRulesBtnHolder #RulesTitle {
    color: #3b4363;
    font-size: 2rem;
  }
  Main #rulesModal #rulesImage {
    height: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  Main #PickedChoiceContainer {
    display: none;
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    -ms-grid-rows: 50% 50%;
        grid-template-rows: 50% 50%;
        grid-template-areas: "myChoice AiChoice" "winLoose winLoose";
    position: relative;
    height: 70%;
    width: 90%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  Main #PickedChoiceContainer .blankBackground {
    background-color: aqua;
  }
  Main #PickedChoiceContainer #MyChoice {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: myChoice;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
    height: 100%;
    width: 100%;
  }
  Main #PickedChoiceContainer #MyChoice .choiceTitle {
    font-family: "Barlow Semi Condensed", sans-serif;
    position: relative;
    top: 70%;
    width: 100%;
    height: 10%;
    font-weight: 600;
    color: white;
  }
  Main #PickedChoiceContainer #MyChoice .choice {
    position: relative;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 50%;
    height: 50%;
    width: 70%;
    border: 1px solid grey;
  }
  Main #PickedChoiceContainer #MyChoice #myPaper {
    display: none;
    -webkit-box-shadow: -5px, 5px grey;
            box-shadow: -5px, 5px grey;
    background-image: radial-gradient(#4865f4, #5671f5);
  }
  Main #PickedChoiceContainer #MyChoice #myScissors {
    display: none;
    -webkit-box-shadow: -5px, 5px grey;
            box-shadow: -5px, 5px grey;
    background-image: radial-gradient(#ec9e0e, #eca922);
  }
  Main #PickedChoiceContainer #MyChoice #myRock {
    display: none;
    -webkit-box-shadow: -5px, 5px grey;
            box-shadow: -5px, 5px grey;
    background-image: radial-gradient(#dc2e4e, #dd405d);
  }
  Main #PickedChoiceContainer #MyChoice .choiceBackground {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 50%;
    background-color: aliceblue;
    height: 80%;
    width: 80%;
  }
  Main #PickedChoiceContainer #AIChoice {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: AiChoice;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    width: 100%;
  }
  Main #PickedChoiceContainer #AIChoice .choiceTitle {
    font-family: "Barlow Semi Condensed", sans-serif;
    position: relative;
    top: 70%;
    width: 100%;
    height: 10%;
    font-weight: 600;
    color: white;
  }
  Main #PickedChoiceContainer #AIChoice .choice {
    position: relative;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 50%;
    height: 50%;
    width: 70%;
  }
  Main #PickedChoiceContainer #AIChoice #AiBlank {
    background-image: radial-gradient(#1f3756, #141539);
  }
  Main #PickedChoiceContainer #AIChoice #AiPaper {
    display: none;
    border: 1px white solid;
    -webkit-box-shadow: -5px, 5px grey;
            box-shadow: -5px, 5px grey;
    background-image: radial-gradient(#4865f4, #5671f5);
  }
  Main #PickedChoiceContainer #AIChoice #AiScissors {
    display: none;
    border: 1px white solid;
    -webkit-box-shadow: -5px, 5px grey;
            box-shadow: -5px, 5px grey;
    background-image: radial-gradient(#ec9e0e, #eca922);
  }
  Main #PickedChoiceContainer #AIChoice #AiRock {
    display: none;
    border: 1px white solid;
    -webkit-box-shadow: -5px, 5px grey;
            box-shadow: -5px, 5px grey;
    background-image: radial-gradient(#dc2e4e, #dd405d);
  }
  Main #PickedChoiceContainer #AIChoice .choiceBackground {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 50%;
    background-color: aliceblue;
    height: 80%;
    width: 80%;
  }
  Main #PickedChoiceContainer #winLoseView {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: winLoose;
    display: none;
    position: relative;
    top: 20%;
    height: 60%;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  Main #PickedChoiceContainer #winLoseView #winLoseText {
    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 600;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    font-size: 3rem;
    color: aliceblue;
  }
  Main #PickedChoiceContainer #winLoseView #PlayAgainButton {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-item-align: center;
        align-self: center;
    color: #606e85;
    height: 30%;
    width: 65%;
    background-color: aliceblue;
    border-radius: 7px;
    font-weight: 600;
    font-family: "Barlow Semi Condensed", sans-serif;
  }
  Main #rules:hover {
    cursor: pointer;
  }
  Main .choice:hover {
    cursor: pointer;
  }
  Main #PlayAgainButton:hover {
    cursor: pointer;
  }
}
/*# sourceMappingURL=indexM.css.map */